<p>Congratulations on you the first purchase on Sleefi.
<p>You've just purchased <%= usdc %> USDC</p>
<p>Sleefi team would like to send you  <%= avax %> Avax as a reward.</p>
<p>Stay tuned and enjoy your time with Sleefi.</p>